.calendar_window{
    border: 2px;
    border-style: solid;
    border-color:#E1E8FC45;
    color: #FFFFFF;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    cursor: pointer;
}

.item-container{
  padding: 5%;
  max-height: 80vh;
  overflow: auto;
}

.calendar-number{
  padding-left: 10%;
  padding-top: 5%;
  font-size: 1.7em;
  font-weight: 500;
}

.main-container{
  padding-top: 10vh;
}

  body{
    background: url("../img/fakta_vanocni_final.png") no-repeat center center fixed; 
    background-color: #0C001C;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto Slab', serif;
  }