.calendar_window{
    border: 2px;
    border-style: solid;
    border-color:#E1E8FC45;
    color: #FFFFFF;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    cursor: pointer;
    border-radius: 5px;
}

.item-container{
  max-height: 50vh;
  overflow: auto;
  scrollbar-width: none;
}

.item-container-inner{
  padding: 5%;
}

.item-container-scrolled{
  max-height: 50vh;
  overflow: auto;
  scrollbar-width: none;
}

.item-container-scrolled::after{
}

.item-container::after{
  content:" ";
  width:100%;
  position:absolute;
  right:0;
  bottom:0;
  height:10%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(195, 223, 255));
  border-radius: 0 0 5px 5px;
}

.modal-content{
  align-items: flex-start !important;
  justify-content: center !important;
  align-content: center !important;
}

.tippy-box{
  border-radius: 5px;
}

.image-thumbnail{
  cursor: zoom-in;
  padding-bottom: 5%;
}

.image-full{
  cursor: zoom-out;
  max-width: 60% !important;
  height: auto !important;
  align-self: center;
}


a#modal-image-link:link, a#modal-image-link:visited, a#modal-image-link:active, a#modal-image-link:hover{
  color: #e9e9e9;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  padding: 20px;
  align-self: center;
}

/** 
 * iPad with portrait orientation.
 */
 @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .image-full {
    max-width: 80% !important;
    height: auto !important;
    padding-bottom: 5%;
  }
}

/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  .image-full {
    max-width: 80% !important;
    height: auto !important;
    padding-bottom: 5%;
  }
}

.calendar-number{
  padding-left: 15%;
  padding-top: 5%;
  font-size: 1.7em;
  font-weight: 500;
}

.main-container{
  padding-top: 10vh;
}

  body{
    background: url("../img/fakta_vanocni_final2.png") no-repeat center center fixed; 
    background-color: #0C001C;
    -webkit-background-size: fill;
    -moz-background-size: fill;
    -o-background-size: fill;
    background-size: fill;
    font-family: 'Roboto Slab', serif;
  }

  html {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -webkit-text-size-adjust: none;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
}
