.calendar_window{
    border: 2px;
    border-style: solid;
    border-color:#E1E8FC45;
    color: #FFFFFF;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    cursor: pointer;
    border-radius: 5px;
}

#modal-image{
  max-width: 40vw;
}

.item-container{
  max-height: 50vh;
  overflow: auto;
  scrollbar-width: none;
}

.item-container-inner{
  padding: 5%;
}

.item-container-inner:after{
  content:" ";
  width:100%;
  position:absolute;
  right:0;
  bottom:0;
  height:6%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.288), rgb(255, 255, 255));
}

.image-thumbnail{
  cursor: zoom-in;
  padding-bottom: 5%;
}

.image-full{
  cursor: zoom-out;
}

.calendar-number{
  padding-left: 15%;
  padding-top: 5%;
  font-size: 1.7em;
  font-weight: 500;
}

.main-container{
  padding-top: 10vh;
  padding-bottom: 40vh;
}

  body{
    background: url("../img/fakta_vanocni_final2.png") no-repeat center center fixed; 
    background-color: #0C001C;
    -webkit-background-size: fill;
    -moz-background-size: fill;
    -o-background-size: fill;
    background-size: fill;
    font-family: 'Roboto Slab', serif;
  }

  html {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
}
